spring:
  application:
    name: CacheMeasuring
  datasource:
    url: jdbc:postgresql://localhost:5432/cache_metrics
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: simple

management:
  endpoints:
    web:
      exposure:
        include: metrics